<h1>Data cleaning</h1>
<p>In this module we will:</p>
<ul>
    <li>Remove unwanted outliers</li>
    <li>Remove unwanted observations</li>
    <li>Label missing categorical data</li>
    <li>Drop unwanted outliers</li>
    <li>Flag and fill missing numerical data</li>
</ul>

In [2]:
# import libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 
import seaborn as sns

In [3]:
#import dataset
df=pd.read_csv("project_files/kenya_listings.csv")

<p>Removing unwanted observations</p>
<p>Checking duplicate valuess</p>

In [8]:
df=df.drop_duplicates()
df.shape

(16117, 17)

In [9]:
df.dtypes

id                   int64
price              float64
price_qualifier     object
bedrooms             int64
bathrooms            int64
toilets            float64
furnished            int64
serviced             int64
shared               int64
parking              int64
category            object
type                object
sub_type            object
state               object
locality            object
sub_locality        object
listdate            object
dtype: object

In [11]:
df.isnull().sum()

id                     0
price                  3
price_qualifier     8870
bedrooms               0
bathrooms              0
toilets            10028
furnished              0
serviced               0
shared                 0
parking                0
category               0
type                   0
sub_type            9817
state                  0
locality               6
sub_locality       15071
listdate               0
dtype: int64

In [20]:
# Display unique values of toilet
df['toilets'].unique()

array([0.000e+00, 5.000e+00, 3.000e+00, 2.000e+00, 4.000e+00, 6.000e+00,
       1.000e+00, 1.000e+01, 7.000e+00, 2.200e+01, 3.300e+01, 9.000e+00,
       8.000e+00, 8.000e+01, 1.500e+01, 1.200e+01, 1.000e+02, 1.101e+03,
       1.100e+01, 1.600e+01, 2.300e+01])

In [16]:
# Missing toilet values should be 0
df['toilets'] = df['toilets'].fillna(0)

In [22]:
df['price'] = df['price'].fillna(0)