<h1>Data cleaning</h1>
<p>In this module we will:</p>
<ul>
    <li>Remove unwanted outliers</li>
    <li>Remove unwanted observations</li>
    <li>Label missing categorical data</li>
    <li>Drop unwanted outliers</li>
    <li>Flag and fill missing numerical data</li>
</ul>

In [2]:
# import libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 
import seaborn as sns

In [3]:
#import dataset
df=pd.read_csv("project_files/kenya_listings.csv")

<h2>Flag and fill missing numerical data</h2>
<p>Checking null/missing values in the dataset</p>

In [9]:
count=df.isna().sum()
percent=((count/df.shape[0])*100)
null=pd.DataFrame(pd.concat([count,percent],keys=['Missing values','% Missing values'],axis=1))
null

                 Missing values  % Missing values
id                            0          0.000000
price                         3          0.018614
price_qualifier            8870         55.035056
bedrooms                      0          0.000000
bathrooms                     0          0.000000
toilets                   10028         62.220016
furnished                     0          0.000000
serviced                      0          0.000000
shared                        0          0.000000
parking                       0          0.000000
category                      0          0.000000
type                          0          0.000000
sub_type                   9817         60.910839
state                         0          0.000000
locality                      6          0.037228
sub_locality              15071         93.509958
listdate                      0          0.000000

In [11]:
# Missing toilet values should be 0
df['toilets'] = df['toilets'].fillna(0)

In [14]:
df['price'] = df['price'].fillna(0)

<h2>Fixing structural errors</h2>

In [25]:
df.price_qualifier.value_counts()

per month                       6227
per calendar month               373
per plot                         228
per acre                         128
per square foot / per month      112
per day                           62
per square meter / per month      55
per square foot / per week        46
per hectare                        6
per square meter / per week        5
per square foot / per annum        3
per square meter                   1
per square foot                    1
Name: price_qualifier, dtype: int64

In [26]:
df.type.value_counts()

House                   6026
Apartment               5840
Land                    2669
Commercial Property     1580
Event Centre / Venue       2
Name: type, dtype: int64

In [27]:
df.sub_type.value_counts()

Townhouse                               1563
Office Space                             872
Residential Land                         810
Detached Duplex                          630
Detached Bungalow                        579
Mixed-use Land                           376
Semi-detached Bungalow                   286
Mini Flat                                244
Commercial Land                          205
Bedsitter (Single Room)                  191
Warehouse                                186
Semi-detached Duplex                      74
Terraced Duplex                           55
Plaza / Complex / Mall                    45
Shop                                      45
Block of Flats                            30
Terraced Bungalow                         29
Hotel / Guest House                       27
Restaurant / Bar                          24
Industrial Land                           14
School                                     5
Filling Station                            3
Factory                                    3
Tank Farm                                  2
Hostel                                     1
Conference / Meeting / Training Room       1
Name: sub_type, dtype: int64

In [28]:
df.state.value_counts()

Nairobi          8935
Kiambu           2694
Kajiado          1294
Mombasa          1125
Machakos          534
Kilifi            480
Nakuru            290
Kisumu            150
Laikipia           97
Kwale              78
Embu               44
Uasin Gishu        43
Meru               42
Nyeri              39
Nandi              38
Makueni            30
Baringo            28
Muranga            27
Bungoma            21
Kirinyaga          17
Kitui              13
Nyandarua          12
Kericho            11
Kakamega           10
Trans Nzoia        10
Kisii               9
Isiolo              7
Lamu                6
Busia               6
Narok               4
Bomet               3
Tharaka-Nithi       3
Homa Bay            3
Samburu             2
Migori              2
Vihiga              2
Garissa             2
Siaya               2
Taita Taveta        1
Turkana             1
West Pokot          1
Marsabit            1
Name: state, dtype: int64

In [29]:
df.locality.value_counts()

Westlands                2446
Kilimani                 1199
Kikuyu                   1064
Lavington                 891
Karen                     750
                         ...
Lodwar Township             1
Maringo                     1
Theta                       1
Shella                      1
Central Sakwa (Bondo)       1
Name: locality, Length: 357, dtype: int64

In [30]:
df.sub_locality.value_counts()

Runda              553
Loresho            107
South C             83
Industrial Area     80
Thigio              34
Muthaiga North      23
Old Muthaiga        22
Chiromo             20
South B             19
Rimpa               18
Tassia              13
Yukos               11
Imara Daima         10
Githurai 44         10
Rosslyn              9
Clay City            8
Umoja Phase 1        5
Githurai 45          5
Lucky Summer         4
New Muthaiga         3
Umoja Phase 2        3
Kwa Njenga           1
Kiembeni             1
Kihingo              1
Mukuru Village       1
Kariba               1
Lindi                1
Name: sub_locality, dtype: int64

In [23]:
df.category.value_counts()

For Sale         9108
For Rent         6916
Short Let          84
Joint Venture       9
Name: category, dtype: int64

<h3>No structural errors were noted.</h3>

<h2>Labelling missing categorical features</h2>

In [32]:
df.select_dtypes(include=['object']).isnull().sum()

price_qualifier     8870
category               0
type                   0
sub_type            9817
state                  0
locality               6
sub_locality       15071
listdate               0
dtype: int64

In [33]:
for column in df.select_dtypes(include=['object']).columns.tolist():
    df[column] = df[column].fillna('Missing')

In [34]:
df.select_dtypes(include=['object']).isnull().sum()

price_qualifier    0
category           0
type               0
sub_type           0
state              0
locality           0
sub_locality       0
listdate           0
dtype: int64

<h2>Dropping unwanted observations</h2>

In [36]:
df=df.drop_duplicates()
df.shape

(16117, 17)